<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">




    <!--LOGIN SERVLETS-->


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <!--USER SERVLETS-->


    <servlet>
        <servlet-name>IsAdminServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.User.IsAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsAdminServlet</servlet-name>
        <url-pattern>/isAdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.User.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/createUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>GetUsersServlet</servlet-name>
    <servlet-class>TEmPoS.Servlet.User.GetUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersServlet</servlet-name>
        <url-pattern>/getUsersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.User.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.User.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/editUserServlet</url-pattern>
    </servlet-mapping>


    <!--CUSTOMER SERVLETS-->


    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Customer.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/createCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Customer.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Customer.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomersServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Customer.GetCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomersServlet</servlet-name>
        <url-pattern>/getCustomersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Customer.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomerServlet</url-pattern>
    </servlet-mapping>


    <!--CONFIGURATION SERVLETS-->


    <servlet>
        <servlet-name>BranchesServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Configuration.BranchesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BranchesServlet</servlet-name>
        <url-pattern>/branchesServlet</url-pattern>
    </servlet-mapping>


    <!--PRODUCT SERVLETS-->

    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/createProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProductsServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.GetProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductsServlet</servlet-name>
        <url-pattern>/getProductsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductsServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.SearchProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductsServlet</servlet-name>
        <url-pattern>/searchProductsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProductByIdServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Product.GetProductByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductByIdServlet</servlet-name>
        <url-pattern>/getProductByIdServlet</url-pattern>
    </servlet-mapping>


    <!--STOCK SERVLETS-->
    <servlet>
        <servlet-name>CreateStockServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.CreateStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStockServlet</servlet-name>
        <url-pattern>/createStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetStockServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.GetStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStockServlet</servlet-name>
        <url-pattern>/getStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IncrementStockServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.IncrementStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncrementStockServlet</servlet-name>
        <url-pattern>/incrementStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DecrementStockServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.DecrementStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DecrementStockServlet</servlet-name>
        <url-pattern>/decrementStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditStockServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.EditStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStockServlet</servlet-name>
        <url-pattern>/editStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetStockByBranchServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Stock.GetStockByBranchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStockByBranchServlet</servlet-name>
        <url-pattern>/getStockByBranchServlet</url-pattern>
    </servlet-mapping>


    <!--BRANDS SERVLETS-->
    <servlet>
        <servlet-name>CreateBrandServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Brands.CreateBrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBrandServlet</servlet-name>
        <url-pattern>/createBrandServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBrandServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Brands.DeleteBrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBrandServlet</servlet-name>
        <url-pattern>/seleteBrandServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditBrandServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Brands.EditBrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBrandServlet</servlet-name>
        <url-pattern>/editBrandServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBrandsServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Brands.GetBrandsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBrandsServlet</servlet-name>
        <url-pattern>/getBrandsServlet</url-pattern>
    </servlet-mapping>


    <!--DISTRIBUTOR SERVLETS-->

    <servlet>
        <servlet-name>CreateDistributorServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Distributors.CreateDistributorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDistributorServlet</servlet-name>
        <url-pattern>/createDistributorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDistributorServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Distributors.DeleteDistributorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDistributorServlet</servlet-name>
        <url-pattern>/deleteDistributorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditDistributorServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Distributors.EditDistributorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDistributorServlet</servlet-name>
        <url-pattern>/editDistributorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDistributorsServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Distributors.GetDistributorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDistributorsServlet</servlet-name>
        <url-pattern>/getDistributorsServlet</url-pattern>
    </servlet-mapping>


    <!--DEPARTMENTS SERVLETS-->
    <servlet>
        <servlet-name>CreateDepartmentServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Departments.CreateDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDepartmentServlet</servlet-name>
        <url-pattern>/createDepartmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDepartmentServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Departments.DeleteDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDepartmentServlet</servlet-name>
        <url-pattern>/deleteDepartmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditDepartmentServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Departments.EditDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDepartmentServlet</servlet-name>
        <url-pattern>/editDepartmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDepartmentsServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.Departments.GetDepartmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDepartmentsServlet</servlet-name>
        <url-pattern>/getDepartmentsServlet</url-pattern>
    </servlet-mapping>

    <!--PURCHASE ORDER SERVLETS-->
    <servlet>
        <servlet-name>CreatePurchaseOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.PurchaseOrder.CreatePurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePurchaseOrderServlet</servlet-name>
        <url-pattern>/createPurchaseOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePurchaseOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.PurchaseOrder.DeletePurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePurchaseOrderServlet</servlet-name>
        <url-pattern>/deletePurchaseOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPurchaseOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.PurchaseOrder.EditPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPurchaseOrderServlet</servlet-name>
        <url-pattern>/editPurchaseOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPurchaseOrdersServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.PurchaseOrder.GetPurchaseOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPurchaseOrdersServlet</servlet-name>
        <url-pattern>/getPurchaseOrdersServlet</url-pattern>
    </servlet-mapping>


    <!--GOODS ORDER SERVLETS-->
    <servlet>
        <servlet-name>CreateGoodsOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.GoodsOrder.CreateGoodsOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGoodsOrderServlet</servlet-name>
        <url-pattern>/createGoodsOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditGoodsOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.GoodsOrder.EditGoodsOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditGoodsOrderServlet</servlet-name>
        <url-pattern>/editGoodsOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGoodsOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.GoodsOrder.GetGoodsOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodsOrderServlet</servlet-name>
        <url-pattern>/getGoodsOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteGoodsOrderServlet</servlet-name>
        <servlet-class>TEmPoS.Servlet.GoodsOrder.DeleteGoodsOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGoodsOrderServlet</servlet-name>
        <url-pattern>/deleteGoodsOrderServlet</url-pattern>
    </servlet-mapping>



</web-app>
